@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  
}

body{
  background-color: lightgreen; 
  color: rgb(255, 255, 255);
}
.footer{
  background: rgb(78, 83, 78)
}
.header-bar {
  
}
.card {
  background: white;
}

